{% extends "base.html" %}
{% from "macros.html" import navbar %}

{% block title %}
    Holidays by Day
{% endblock %}

{% block content %}
    {{ navbar('Dates') }}
    <section class="holiday-info">
            <div class="vstack gap-5">
                {% for holiday in holiday_by_day %}
                    <div>
                        <h2 class="table-title">{{holiday['date']}}</h2>
                        <table class="table" id="public-holidays">
                            <thead>
                                <tr>
                                    <th style="width: 50%;" scope="col">Name</th>
                                    <th scope="col">Countries</th>
                                    <th scope="col">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="{{url_for('holidays', id=holiday['holiday_id'])}}">{{ holiday['name'] }}</a></th>
                                    <td><a href="{{ url_for('countries_by_holiday', holiday_id=holiday['holiday_id']) }}">Celebrating Countries</a></td>
                                    <td>{{ holiday['type'] }}</td>
                                </tr>
                                    <tr>
                                    </tr>
                            </tbody>

                        </table>
                            
                    </div>
                {% endfor %}
                <p><a href="{{url_for('dates_splash')}}">Return to the calendar</a></p>
{% endblock %}

