{% extends "base.html" %}
{% from "macros.html" import navbar %}

{% block title %}
    Holidays by Month
{% endblock %}

{% block content %}
    {{ navbar('Dates') }}
    <h1>{{month}}</h1>
        <section class="holiday-info">

                    <table class="table" id="public-holidays">
                        <thead>
                            <tr>
                                <th style="width: 40%;" scope="col">Name</th>
                                <th style="width: 20%;" scope="col">Date</th>
                                <th style="width: 30%;" scope="col">Countries</th>
                                <th style="width: 10%;" scope="col">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for holiday in holidays_by_month %}
                            <tr>
                                <td><a href="{{url_for('holidays', id=holiday['holiday_id'])}}">{{ holiday['name'] }}</a></td>
                                <td><a href="{{url_for('dates_by_day', date_code=holiday['date'])}}">{{ holiday['date'] }}</a></td>
                                <td><a href="{{ url_for('countries_by_holiday', holiday_id=holiday['holiday_id']) }}">Celebrating Countries</a></td>
                                <td>{{ holiday['type'] }}</td>
                            </tr>
                            <tr>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    
               </section> 
{% endblock %}

