{% extends "base.html" %}
{% from "macros.html" import navbar, calendar %}

{% block title %}
    Dates
{% endblock %}

{% block content %}
    {{ navbar('Dates') }}
    <section class="header">
        <h1 class="display-1 text-center">Dates</h1>
    </section>

    <form method="POST" style="text-align: center;">
        <label for="months">Select a Month to look for Holidays:</label>
        <select id="months" name="months">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <p></p>
    <h2 style="text-align: center;">OR</h2>
    <p></p>
    <form method="POST" style="text-align: center;">
        <label for="months">Search for holidays by a specific date (MM/DD):</label>
        <input type="text" name="date" size="15">
        <button type="submit">Submit</button>
    </form>
    <p></p>
    {% if message != '' %}
        <h3 style="text-align: center;">        
                {{error_message}}
        </h3>
    {% endif %}
    <h2 style="text-align: center;">OR</h2>
    <h3 style="text-align: center;">Click on a day in the calendar to see what holidays are celebrated on that day!</h3>
    {{ calendar() }}
{% endblock %}
