{% extends "base.html" %}
{% from "macros.html" import navbar, table %}

{% block title %}
    {{ holiday['name'] }}
{% endblock %}

{% block content %}
    {{ navbar('Holidays') }}
    <section class="country-info">

        <div class="container-fluid">
    
            <div class="d-lg-flex flex-row align-items-top justify-content-between">
                <div class="pe-1">
                    <div class="pb-2" id="country-and-flag">
                        <h1 id="country">{{ holiday['name'] }}</h1>
                    </div>
                </div>  
            </div>
    
                <div>
                    <div class="info">
                        <p class="info-piece">Date: 
                            <a href=" {{ url_for('dates_by_day', date_code=holiday['date']) }}">{{ holiday['date'] }}</a>
                        </p>
                        <p class="info-piece">Description: {{ holiday['description'] }}</p>
                        <p class="info-piece">Type: {{ holiday['type'] }}</p>
                        {% if holiday['events'] %}
                            <p class="info-piece">Events: {{ holiday['events'] }}</p>
                        {% else %}
                            <p class="info-piece">Events: No specific events found</p>
                        {% endif %}
                    </div>
                </div>
    
        </div>
        <br>
    </section>

    <section class="holiday-info">
        <div class="vstack gap-5">
            {{ table('Celebrating Countries', ['Country'], countries, iso) }}
            {% if not countries %}
                <p class="no-holidays text-center">No country found.</p>
            {% endif %}
        </div>
    </section>`
    
    
{% endblock %}
