{% extends "base.html" %}
{% from "macros.html" import navbar, holidays_splash, pagination %}

{% block title %}
    Holidays by Month
{% endblock %}

{% block content %}
    {{ navbar('Holidays') }}
    <section class="header">
    <h1 class="display-1 text-center">Holidays</h1>
    </section>
    <div class="center">
        <form method="POST" style="text-align: center;">
            <label for="holidays">Search for holidays here:</label>
            <input type="text" name="holidays" size="15">
            <label for="holidays">and sort by: </label>
            <select name="sort">
                <option value="alpha-asc">Name (A-Z)</option>
                <option value="alpha-desc">Name (Z-A)</option>
                <option value="date-asc">Date (earlier first)</option>
                <option value="date-desc">Date (later first)</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>  

    <section class="country-choices">

        <div class="container-fluid">
            
            <!-- starts a for loop that goes from range 0 to length of holidays skipping by 2
            Skipping allows for dislpaying holidays in pairs across the screen -->
            {% for i in range(0, holidays|length, 2) %}
                <div class="row">
                    <!-- loops through holidays and includes the next holiday
                    (this is why we loop every other holiday above)
                    then we set the name and pass it into the macro for holidays splash-->
                    {% for holiday in holidays[i:i+2] %}
                    {% set id, name, date = holiday %}
                    {{ holidays_splash(id, name, date) }}
                    {% endfor %}
                </div>
                {% endfor %}
        </div>
        <script>
            underlineSearch($('.country-choices'), '{{ request.args.get('search') }}');
        </script>
        <section class="pages">
            {{ pagination(page_info, 'holidays_splash') }}
        </section>


    </section>
{% endblock %}
