{% extends "base.html" %}
{% from "macros.html" import navbar, table %}

{% block title %}
    {{ country['name'] }}
{% endblock %}

{% block content %}
    {{ navbar('Countries') }}
    
    <section class="country-info">
        <div class="container-fluid">
            <div class="d-lg-flex flex-row align-items-top justify-content-between">
                <div class="pe-1">
                    <div class="pb-2" id="country-and-flag">
                        <h1 id="country">{{ country['name'] }}</h1>
                        <img class="my-2" src="https://flagcdn.com/{{ country['iso'].lower() }}.svg" alt="Flag" width="120" id="Flag">
                    </div>
                </div>  
                <div>
                    <div class="info">
                        <p class="info-piece">Region: {{ country['region'] }}</p>
                        <p class="info-piece">Capital: {{ country['capital'] }}</p>
                        <p class="info-piece">Population: {{ country['population'] }}</p>
                    </div>
                </div>      
            </div>
        </div>
    </section>
    <section class="holiday-info">
        <div class="vstack gap-5">
            {% for holiday_type, holidays in holidays.items() %}
                {{ table(holiday_type, ['Holiday', 'Date'], holidays, holiday_type.lower().replace(' ', '-')) }}
                {% if not holidays %}
                    <p class="no-holidays text-center">No {{ holiday_type.lower() }} found.</p>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
