{% extends "base.html" %}
{% from "macros.html" import navbar, country_and_flag, pagination %}

{% block title %}
    Countries
{% endblock %}

{% block content %}
    {{ navbar('Countries') }}

    <section class="header">
        <h1 class="display-1 text-center">Countries</h1>
    </section>
    <div class="center">
        <form method="POST" style="text-align: center;">
            <label for="countries">Search for countries here:</label>
            <input type="text" name="countries" size="15">
            <label for="countries">and sort by: </label>
            <select name="sort">
                <option value="alpha-asc">Name (A-Z)</option>
                <option value="alpha-desc">Name (A-Z)</option>
                <option value="pop-asc">Population (ascending)</option>
                <option value="pop-desc">Population (descending)</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
    <section class="country-choices">
        <div class="container-fluid">
            {% for i in range(0, countries|length, 2) %}
            <div class="row">
                {% for country in countries[i:i+2] %}
                {% set iso, name = country %}
                {{ country_and_flag(iso, name) }}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <script>
            underlineSearch($('.country-choices'), '{{ request.args.get('search') }}');
        </script>
    </section>
    <section class="pages">
        {{ pagination(page_info, 'countries_splash') }}
    </section>
{% endblock %}

