:root {
    --dark-pink: #81717A;
    --rose-quartz: #9D8CA1;
    --cool-gray: #9993B2;
    --periwinkle: #A7ABDD;
    --blue: #B4D4EE;
    --black: #000000;
    --green: #4bf48f;
    --hover-green: #43d47d;
}

body {
    overflow-x: hidden;
    font-family: 'Concert One', sans-serif;
    text-decoration: none;
    margin: 0% 12%;

}

a {
    text-decoration: none;
    /* color: var(--green);
    &:hover {
        color: var(--hover-green);
    } */
}


.navbar {
    margin: 20px 0px;
    padding: .2rem .6rem;
    border-radius: 12px;
    background-color: var(--green);
    --bs-navbar-toggler-border-color:* rgba(0, 0, 0, 0);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    stroke: var(--black);
}

.navbar-brand {
    font-family: cursive;
    font-size: 2rem;
    font-weight: 200;
}

.nav-item {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: .05rem;
    padding: 0rem 0rem 0rem 1.3rem;
}

.nav-link {
    color: var(--black)!important;

    &.active, &:hover {
        color: var(--black)!important;
    }
}



/* Countries Pages */
.country-info {
    padding: 3% 0% 0%;

}

#country {
    font-size: 4.5rem;
    font-weight: 800;
}

.info {
    position: relative;
    top: 20px;
}

.info-piece {
    font-size: 2rem;
}

.holiday-info {
    padding: 8% 1%;
    font-size: 1.5rem;
}

.table-title {
    font-size: 2.5rem;
}

.country-choices {
    padding: 4% 0%;
}

.interactive-table table tbody tr {
    display: none;
}

.interactive-table table tbody tr.active {
    display: table-row;
}

.show-options {
    padding-left: 5%;
}

.show-option {
    padding-left: 5%;
}

