{% extends "base.html" %}
{% from "macros.html" import navbar %}

{% block title %}
    About
{% endblock %}

{% block content %}
    {{ navbar('About') }}

    <main>
        <section>
            <h1 class="display-1 text-center">About Us</h1>
            <br>
        </section>
        <section>
            <h2 class="display-5 text-center">Group Members</h2>
            <br>
            <div class="container-fluid text-left h4">
                <div class="row">
                    <div class="pb-5 col-lg-6 col-md-12">
                    <h1>Patty Chow</h1>
                        <img class="mb-2 rounded" width="300" src="../static/images/patty_headshot.jpeg" alt="Patty Chow">
                        <p>I am a senior Management Information Systems major with a minor in Sales and an Elements of Computing Certificate.</p>
                        <ul class="list-unstyled">
                            <li>Major Responsibilities: Team Leader, Index and About Pages, Testing</li>
                            <br>
                            <li>No. of Commits: {{ commits['Patty Chow'] }}</li>
                            <li>No. of Issues: 10</li>
                            <li>No. of Unit Tests: 9</li>
                        </ul>
                    </div>
                    <div class="pb-5 col-lg-6 col-md-12">
                        <h1>Rohan Nagabhirava</h1>
                        <img class="mb-2 rounded" width="300" src="../static/images/rohan_headshot.jpeg" alt="Rohan Nagabhirava">
                        <p>I am a senior Biochemistry major with certificates in Spanish and Elements of Computing.</p>
                        <ul class="list-unstyled">
                            <li>Major Responsibilities: API and Database Implementation, Countries Pages</li>
                            <br>
                            <li>No. of Commits: {{ commits['Rohan Nagabhirava'] }}</li>
                            <li>No. of Issues: 18</li>
                            <li>No. of Unit Tests: 0</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="pb-5 col-lg-6 col-md-12">
                        <h1>Vardaan Bhat</h1>
                        <img class="mb-2 rounded" width="300" src="../static/images/vardaan-headshot.jpeg" alt="Vardaan Bhat">
                        <p>I am a Senior Finance major with a minor in Management Information Systems and an Elements of Computing certificate.</p>
                        <ul class="list-unstyled">
                            <li>Major Responsibilities: Searching Function, Dates Pages</li>
                            <br>
                            <li>No. of Commits: {{ commits['Vardaan Bhat'] }}</li>
                            <li>No. of Issues: 10</li>
                            <li>No. of Unit Tests: 0</li>
                        </ul>
                    </div>
                    <div class="pb-5 col-lg-6 col-md-12">
                        <h1>Nayan Bandaru</h1>
                        <img class="mb-2 rounded" width="300" src="../static/images/nayan-headshot.jpeg" alt="Nayan Bandaru">
                        <p>I am a Finance major with a minor in Management Information Systems and an Elements of Computing certificate.</p>
                        <ul class="list-unstyled">
                            <li>Major Responsibilities: GCP Deployment, Holidays Pages</li>
                            <br>
                            <li>No. of Commits: {{ commits['Nayan Bandaru'] }}</li>
                            <li>No. of Issues: 11</li>
                            <li>No. of Unit Tests: 0</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>    

        </section>
        <section>
            <h2 class="display-5 text-center">Technical Information</h2>
            <br>
            <div class="container-fluid text-left h4">
                <div class="row">
                    <div class="pb-5 col-lg-6 col-md-12">
            <h1>Stats</h1>
            <ul class="list-unstyled">
                <li>Total No. of Commits: {{ commits['Total'] }}</li>
                <li>Total No. of Issues: {{ issues['Total'] }}</li>
                <li>Total No. of Unit Tests: 9</li>
                <li><a href="https://www.postman.com/teamholidaze/workspace/holidaze/collection/32256698-339d2d84-a39d-4eec-a379-7bd99a1aeabf?action=share&creator=32256698&active-environment=32256698-986b33e1-e87f-4d2f-b58f-f3008d40222e">API Design</a></li>
                <li><a href="https://www.postman.com/teamholidaze/workspace/holidaze/collection/32256698-fd0e827e-0a3e-459c-9850-c7284a779769?action=share&creator=32256698&active-environment=32256698-986b33e1-e87f-4d2f-b58f-f3008d40222e">API Testing</a></li>
                <li><a href="https://gitlab.com/pattypng/cs331e-idb/-/issues">GitLab Issue Tracker</a></li>
                <li><a href="https://gitlab.com/pattypng/cs331e-idb">GitLab Repo</a></li>
                <li><a href="https://gitlab.com/pattypng/cs331e-idb/-/wikis/home">GitLab Wiki</a></li>
            </ul>
                    </div>
                    <div class="pb-5 col-lg-6 col-md-12">
            <h1>Data Sources</h1>
            <ul class="list-unstyled">
                <li><a href="https://api-ninjas.com/api/holidays">API Ninjas -- Holidays</a></li>
                <li><a href="https://calendarific.com">Calendarific</a></li>
                <li><a href="https://date.nager.at/Api">Nager.Date</a></li>
                <li><a href="https://documenter.getpostman.com/view/32256698/2sA3BgBvix">Postman API Documentation</a></li>
            </ul>
            <h1>Tools Used</h1>
            <p>GitLab, GCP, Postman, NameCheap, Slack</p>
                    </div>
                    </div>
                    </div>
        </section>
    </main>
{% endblock %}
