{% extends "base.html" %}
{% from "macros.html" import navbar %}

{% block title %}
    Holidaze
{% endblock %}

{% block content %}
    {{ navbar('None') }}
    <header>
        <h1 class="display-3 text-center">Explore the World Through Holidays!</h1>
    </header>
    <br>
    <center><img src="{{ url_for('static', filename='images/world_map.jpeg') }}" alt="World Map" width="600" class="img-fluid mb-4"></center>
    <main>
        <section>
            <h1>
                <a href="{{ url_for('countries_splash') }}">Start Exploring!</a>
            </h1>
            <p class="h4">Discover holidays by country and learn how different cultures celebrate their special days. These holidays not only offer a glimpse into the country's culture but also unite communities in celebration, reflection, and appreciation of their heritage. By exploring these diverse celebrations, we deepen our understanding of the world and the myriad ways in which joy, reverence, and community spirit are expressed globally.</p>
        </section>
        <section>
            <h1>
                <a href="{{ url_for('dates_splash') }}">Dates</a>
            </h1>
            <p class="h4">Explore holidays by dates and find out what's celebrated around the world on specific days. These celebrations, whether steeped in centuries-old traditions or relatively new, invite us to pause, celebrate, and reflect on our shared human experience across different cultures and times.</p>
        </section>
        <section>
            <h1>
                <a href="{{ url_for('holidays_splash') }}">Holidays</a>
            </h1>
            <p class="h4">Search for your favorite holidays by name and get detailed information about their origins and customs. Each holiday name carries with it tales of human experience, cultural richness, and the universal search for meaning and joy.</p>
        </section>
        <br>
        
        
    </main>
{% endblock %}
