{% macro navbar(active_page) %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-center" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"
                class="d-inline-block align-text-top" id="navbarImage" width="50">
            Holidaze
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% for page, link in [('About', 'about'), ('Dates', 'dates_splash'), ('Holidays', 'holidays_splash'),
                ('Countries', 'countries_splash')] %}
                <li class="nav-item">
                    <a class="nav-link" id="{{ page }}" href="{{ url_for(link) }}">{{ page }}</a>
                </li>
                {% endfor %}
                <script>
                    document.getElementById('{{ active_page }}').classList.add('active');
                </script>
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}


{% macro table(title, headers, data, id) %}
<div class="interactive-table">
    <h2 class="table-title">{{ title }}</h2>
    <table class="table" , id="{{ id }}">
        <thead>
            <tr>
                {% for header in headers %}
                <th scope="col">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value, link in row %}
                <td>
                    {% if link %}
                    <a href="{{ link }}">{{ value }}</a>
                    {% else %}
                    {{ value }}
                    {% endif %}
                </td>
                {% endfor %}
                {% endfor %}
        </tbody>
    </table>
    <div class="d-flex flex-row-reverse">
        <a href="#" class="show-option show-all">Show all ...</a>
        <a href="#" class="show-option show-more">Show more ...</a>
        <a href="#" class="show-option show-less">Show less ...</a>
    </div>
</div>
{% endmacro %}

{% macro country_and_flag(iso, name) %}
<div class="pb-5 col-lg-6 col-md-12">
    <a href="/countries/{{ iso }}">
        <h1 class="name display-2">{{ name }}</h1>
        <img class="my-2" src="https://flagcdn.com/{{ iso.lower() }}.svg" alt="Flag" width="120" class="Flag">
    </a>
</div>
{% endmacro %}

{% macro holidays_splash(id, name, date) %}
<div class="pb-5 col-lg-6 col-md-12">
    <a href="/holidays/{{ id }}">
        <h1 class="name display-2">{{ name }}</h1>
        <h2>{{ date }}</h2>
    </a>
</div>
{% endmacro %}

{% macro pagination(page_info, endpoint) %} 
<p class="page-info text-center">
    {{ page_info['first_item'] }} - {{ page_info['last_item'] }} of {{ page_info['total_items'] }}
</p>
<ul class="pagination pagination-sm justify-content-center">
    {% if request.args.get('search') and request.args.get('sort') %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, search=request.args.get('search'), sort=request.args.get('sort'), page=[1, page_info['page'] - 1]|max) }}">Previous</a></li>
        {% for page in range(1, page_info['total_pages'] + 1) %}
            <li class="page-item"><a class="page-link" id="{{ page }}" href="{{ url_for(endpoint, search=request.args.get('search'), sort=request.args.get('sort'), page=page) }}">{{ page }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, search=request.args.get('search'), sort=request.args.get('sort'), page=[page_info['total_pages'], page_info['page'] + 1]|min) }}">Next</a></li>
    {% elif request.args.get('sort') %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, sort=request.args.get('sort'), page=[1, page_info['page'] - 1]|max) }}">Previous</a></li>
        {% for page in range(1, page_info['total_pages'] + 1) %}
            <li class="page-item"><a class="page-link" id="{{ page }}" href="{{ url_for(endpoint, sort=request.args.get('sort'), page=page) }}">{{ page }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, sort=request.args.get('sort'), page=[page_info['total_pages'], page_info['page'] + 1]|min) }}">Next</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=[1, page_info['page'] - 1]|max) }}">Previous</a></li>
        {% for page in range(1, page_info['total_pages'] + 1) %}
            <li class="page-item"><a class="page-link" id="{{ page }}" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=[page_info['total_pages'], page_info['page'] + 1]|min) }}">Next</a></li>
    {% endif %}
</ul>
<script>
    document.getElementById('{{ page_info['page'] }}').classList.add('active');
    if ({{ page_info['page'] }} == 1) {
        document.querySelector('.pagination li:first-child').classList.add('disabled');
    }
    if ({{ page_info['page'] }} == {{ page_info['total_pages'] }}) {
        document.querySelector('.pagination li:last-child').classList.add('disabled');
    }
</script>
{% endmacro %}

{% macro calendar() %}
    <!DOCTYPE html>
    <html>
        <head>
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var calendarEl = document.getElementById('calendar');
            
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        dateClick: function(info) {
                            var date = info.date.toISOString().slice(0,10); // Extract YYYY-MM-DD format
                            window.location.href = '/dates_day/' + date;
                        }
                    });
            
                    calendar.render();
                });
            </script>
        </head>
        <body>
            <div id='calendar'></div>
        </body>
    </html>
{% endmacro %}